@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --main-bg-color: #FCF8EC;
    --main-accent-color: #456268;
    --secondary-color: #D0E8F2;
    --tertiary-color: #79A3B1;
}

body,p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--tertiary-color);
}
nav a {
    font-size: 1vw;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--tertiary-color);
}

a#active {
    text-decoration: underline;
}
#logo h1 {
    margin: 0;
    display: inline;
    position: relative;
    top: -13%;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin: 0 5vw;
}
#main, nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
