<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Albums</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />

</head>
<style>
    #albums-view {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
<body>
    <header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
             <nav>
                <ul>
                    <li><a href='/' >Home</a></li>
                    <li><a href='/explore'>Explore</a></li>
                    <li><a href='/albums' id="active">My albums</a></li>
                    <li><a href='/friends'>Friends</a></li>
                    <li><a href='/profile'>Profile</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}




                </ul>
            </nav>
     </header>
    {% if albums %}
        <div id="albums-view">
        {% for album in albums %}
            <div id="album">
                <!-- Album is of form: ( ( album name, date created, cover image data) , ... )-->
                <p> <a href="/album/{{ album[0] }}"> {{ album[1] }} </a> </p>
                <img src='data:image/jpg;base64, {{ base64.b64encode(album[3]).decode("ascii") }}' width="100px" height="100px"/></li>

            </div>
        {% endfor %}
        </div>
        <h4><a href="/upload-album"> Add more </a></h4>
    {% else %}
        <h2> You don't have any albums! <a href="/upload-album"> Create one.</a></h2>
    {%  endif %}

</body>
</html>