<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/albums'>My albums</a></li>
        <li><a href='/logout'>Logout</a></li>
    </ul>
    <h4>Photos of {{ album[0] }}</h4>
    {% if photos %}
        {% for photo in photos %}
                {# album = name,created,cover_img #}
                {# photo = picture_id, imgdata, caption #}
            <div>
                <a href="{{ album_id }}/photo/{{ photo[0] }}"><img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' width="100px" height="100px"/></a>
                <p>{{ photo[2] }}</p>
            </div>
        {% endfor %}
        <p><a href="/upload/{{ album_id }}"> Add more </a></p>
    {% else %}
        <h2> There are no photos in this album yet. <a href="/upload/{{ album_id }}"> Add some </a> </h2>
    {% endif %}
</body>

</html>