<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Albums</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />

</head>
<body>
    <header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/albums'>My albums</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}
                    <li><a href='/friends'>Friends</a></li>

                </ul>
            </nav>
     </header>
    {% if albums %}
        {% for album in albums %}
            <div>
                <!-- Album is of form: ( ( album name, date created, cover image data) , ... )-->
                <p> <a href="/album/{{ album[0] }}"> {{ album[1] }} </a> </p>
                <img src='data:image/jpg;base64, {{ base64.b64encode(album[3]).decode("ascii") }}' width="100px" height="100px"/></li>

            </div>
        {% endfor %}
        <h4><a href="/upload-album"> Add more </a></h4>
    {% else %}
        <h2> You don't have any albums! <a href="/upload-album"> Create one.</a></h2>
    {%  endif %}

</body>
</html>