<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<style>
    .friend {
        display: flex;
        flex-direction: row;
    }
    .friend p {
        margin: 1vw;
    }
</style>
<body>
    <h3>Your friends<a href="/add_friends">Add friends</a></h3>
    {%  for friend in friends %}
        <div class = "friend">
            <p>{{ friend[1] }}</p>
            <p>{{ friend[2] }}</p>
            <p>{{ friend[3] }}</p>
            <p>{{ friend[4]}}</p>
        </div>
    {%  endfor %}


</body>
</html>