<!-- author ben lawson (balawson@bu.edu) -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
</head>
<style>
    header {
        display: flex;
        flex-direction: row;
    }
    #logo h1 {
        margin: 0;
        display: inline;
        position: relative;
        top: -13%;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline;
        margin: 0 5vw;
    }
    #main, nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<body>
<header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
             <nav>
                <ul>
                    <li><a href='/' id="active">Home</a></li>
                    <li><a href='/explore' >Explore</a></li>
                    <li><a href='/albums'>My albums</a></li>
                    <li><a href='/friends'>Friends</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}
                </ul>
            </nav>
     </header>
<section id="main">
    {% if message %}
        <h4 id="message">{{message}}!</h4>
    {% endif %}
    <title>Photoshare</title>
    {% if info %}
        <h1>Welcome back, {{ info['firstname'] + ' ' + info['lastname'] }}!</h1>
    {% endif %}


    {% if need_login %}
        <p>You should <a href='/login'>login!</a></p>
    {% endif %}
</section>


</body>
</html>