<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if info %}
  <h1>Welcome back, {{ info['firstname'] + ' ' + info['lastname'] }}!</h1>
{% endif %}

{#
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' widht="100px" height="100px"/></li>
    {% endfor %}
    </ul>
{% endif %}
#}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>

{% endif %}

<ul>
<li><a href='/albums'>My albums</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
