<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />

</head>
<style>
    .profile {
        display: flex;
        flex-direction: column;

    }
    .profile p {
        margin: 1vw;
    }
</style>
<body>
    <header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/albums'>My albums</a></li>
                    <li><a href='/explore'>Explore</a></li>
                    <li><a href='/friends'>Friends</a></li>
                    <li><a href='/profile' id="active">Profile</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}

                </ul>
            </nav>
     </header>
    <h2>{{userInfo[3]}}  {{userInfo[4]}} <a href="/edit_profile">Edit Profile</a></h3>
        <div class = "profile">
            <p> Email: {{ userInfo[1]}}</p>
            <p> First Name: {{ userInfo[3] }} </p>
            <p> Last Name: {{ userInfo[4] }}</p>
            <p> Birthday: {{ userInfo[5]}}</p>
            <p> Gender: {{ userInfo[6]}}</p>
            <p> Hometown:{{ userInfo[7]}}</p>
            <p> Contribution Score: {{ userInfo[8]}}</p>

        </div>
        

</body>
</html>