<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />

</head>
<style>
    #upload-view {
        margin: 2vh;
    }
    form * {
        margin: 1vh;
    }
</style>
<body>
    <header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
             <nav>
                <ul>
                    <li><a href='/' id="active">Home</a></li>
                    <li><a href='/explore' >Explore</a></li>
                    <li><a href='/albums'>My albums</a></li>
                    <li><a href='/friends'>Friends</a></li>
                    <li><a href='/profile'>Profile</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}
                </ul>
            </nav>
    </header>
    <section id='main'>
        <div id="upload-view">
{#            <img src="{{url_for('static',filename='download.png')}}"/>#}
            <form method="post" enctype="multipart/form-data" action="/profile/upload">
                    <label for="photo">Select new profile photo:</label>
                    <input type="file" name="photo" required='true' /><br />
                    <input type="submit" value="Upload" />
            </form>
        </div>
    </section>

</body>
</html>