<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tag</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
    
    </head>

    <body>
        <header>
            <div id="logo">
                <img src="{{ url_for('static',filename='camera.png') }}" alt="" width="50px" height="50px"/>
                <h1>Photoshare</h1>
            </div>
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/explore'>Explore</a></li>
                    <li><a href='/albums'>My albums</a></li>
                    <li><a href='/friends'>Friends</a></li>
                    <li><a href='/profile'>Profile</a></li>
                    {%  if not need_login %}
                        <li><a href='/logout'>Logout</a></li>
                    {%  endif %}
                </ul>
            </nav>
        </header>

        <h2>Photos with tag(s) {{ tag_txt }}</h2>

        {% if photos %}
            <div id="photos-view">
                {% for photo in photos %}
                <div id="photo">
                    <a href="/album/{{ photo[3] }}/photo/{{ photo[0] }}"><img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' width="100px" height="100px"/></a>
                    <p><a href="/album/{{ photo[3] }}/photo/{{ photo[0] }}"> {{ photo[2] }} </a> </p>
                </div>
                {% endfor %}
            </div>
            {% if user %}
                <a href='/albums'>Cancel</a>
            {% else %}
                <a href='/explore'>Cancel</a>
            {% endif %}
            
        {% else %}
            {% if userNoPhotos %} 
                <h2> You don't have any photos with this tag(s). </h2>
                <a href='/albums'>Cancel</a>
            {% else %}
                <h2> There are no photos with this tag(s). </h2>
                <a href='/explore'>Cancel</a>
            {% endif %}
        {%  endif %}
        

    </body>

</html>